<div class="px-5">
    <form #dept="ngForm" (ngSubmit)="onSubmitDept(dept)">
        <div class="row mt-5">
            <div class="col-md-6">
                <label class="form-label">Department Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="dept_name" name="dept_name" ngModel #dept_name="ngModel" required>
                <small class="text-danger" *ngIf="dept_name.touched && dept_name.invalid">Please enter department name.</small>
            </div>
            <div class="col-md-6">
                <label class="form-label">Department Complex<span class="text-danger">*</span></label>
                <select class="form-select" #complex="ngModel" id="complex_field" [(ngModel)]="complex_id" name="complex">
                    <option value="0">----Select Complex----</option>
                    <option *ngFor="let c of complexes" value="{{c.id}}">{{c.complex_name}}</option>
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <label class="form-label">Department Description</label>
                <textarea class="form-control" cols="30" rows="5" name="dept_descp" ngModel #dept_descp="ngModel"></textarea>
            </div>
        </div>
        <div class="alert alert-success mt-4 mb-4" *ngIf="showAddSuccess">
            Department Added Successfully !!
        </div>
        <!-- <div class="alert alert-success mt-4 mb-4" *ngIf="showUpdateSuccess">
            Department Updated Successfully !!
        </div> -->
        <div class="text-end mt-4 mb-5">
            <button class="btn btn-primary mx-3" type="button" (click)="onHideForm()">Go back</button>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>