<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="d-block w-100">
        <app-header></app-header>
        <div class="text-center mt-4 mb-5">
            <h2>Registration Form</h2>
        </div>
        <div class="px-5">
            <form #reg="ngForm" (ngSubmit)="onRegistration(reg.value, gender.value, bgroup.value, empType.value)">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" name="name" [(ngModel)]="emp_name" #name="ngModel" required/>
                        <small class="text-danger" *ngIf="name.invalid && name.touched">Name Required</small>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Contact Number</label>
                        <input type="text" name="contact" maxLength="10" pattern="\d{10}" class="form-control" name="contact" [(ngModel)]="emp_contact" #contact="ngModel" required/>
                        <div *ngIf="contact.touched">
                            <small class="text-danger" *ngIf="contact.errors?.required">Contact Number Required (Max Length: 10 digits)</small>
                            <small class="text-danger" *ngIf="contact.errors?.pattern">Invalid Contact Number</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" name="date" ngModel #dob="ngModel" required/>
                        <small class="text-danger" *ngIf="dob.invalid && dob.touched">Date of Birth is required</small>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                      <label for="exampleDatepicker1" class="form-label">Gender</label>
                      <select class="form-control" #gender>
                            <option name="gender" value="Male">Male</option>
                            <option name="gender" value="Female">Female</option>
                            <option name="gender" value="Others">Others</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Email ID</label>
                        <input type="email" name="email" class="form-control" name="email" [(ngModel)]="emp_email" #email="ngModel" required/>
                    </div>
                    <div class="col-md-4">
                          <label class="form-label" for="form3Example1w">Blood Group</label>
                          <select class="form-control" name="blood_group" #bgroup>
                              <option value="N/A">Not Known</option>
                              <option value="A +ve">A +ve</option>
                              <option value="A -ve">A -ve</option>
                              <option value="B +ve">B +ve</option>
                              <option value="B -ve">B -ve</option>
                              <option value="O +ve">O +ve</option>
                              <option value="O -ve">O -ve</option>
                              <option value="AB +ve">AB +ve</option>
                              <option value="AB -ve">AB -ve</option>
                          </select>
                    </div>
                </div>
                <div class="form-outline mb-3 mt-3">
                    <label class="form-label">Corresponding Address</label>
                    <textarea class="form-control" name="address1" rows="4" cols="50" [(ngModel)]="emp_address1" #address="ngModel" required></textarea>
                    <small class="text-danger" *ngIf="address.invalid && address.touched">Corresponding Address is required</small>
                </div>
                <div class="form-outline mb-3">
                    <input type="checkbox" name="check" (click)="onCheckAddress($event)"/>
                    <label>&nbsp;&nbsp;Same as Corresponding</label> 
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label">Permanent Address</label>
                    <textarea name="address2" class="form-control"rows="4" cols="50" [(ngModel)]="emp_address2" #perm_address="ngModel" required></textarea>
                    <small class="text-danger" *ngIf="perm_address.invalid && perm_address.touched">Permanent Address is required</small>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Employee ID/Number</label>
                        <input type="text" class="form-control" name="employee_id" [(ngModel)]="emp_id" #employee_id="ngModel" required/>
                        <small class="text-danger" *ngIf="employee_id.invalid && employee_id.touched">Employee ID is required</small>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Employee Type</label>
                        <select class="form-control" name="employee_type" #empType>
                            <option value="Regular">Regular</option>
                            <option value="Ad-Hoc">Ad-Hoc</option>
                            <option value="Contractual">Contractual</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label">Photo</label>
                          <input class="form-control" name="image" type="file" (change)="onPhotoUpload($event)">
                        </div>
                    </div>
                </div>
                <div class="row mb-4 pb-2 pb-md-0 mb-md-10">
                    <div class="col-md-4">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" [(ngModel)]="emp_username" #username="ngModel" required/>
                        <small class="text-danger" *ngIf="username.invalid && username.touched">Username is Required</small>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" [(ngModel)]="emp_password" #password="ngModel" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}"/>
                        <div *ngIf="password.touched">
                            <small class="text-danger" *ngIf="password.errors?.required">Password Required</small>
                            <small class="text-danger" *ngIf="password.errors?.pattern">Password is Required (Minimum Length: 8 characters with atleast one capital alphabet letter (A-Z), one small alphabet letter (a-z), one number (0-9) and one sepcial character (.,?/!@#$%^&*))</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" name="conf_password" class="form-control" #conf_password/>
                        <small class="text-danger" *ngIf="password.value !== conf_password.value">Password is did not match</small>
                    </div>
                </div>
                <div class="mt-4 mb-5">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
