<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="d-block w-100">
        <app-header></app-header>
        <div class="text-center mt-5 mb-5">
            <h2>Registration Form</h2>
        </div>
        <div class="px-5">
            <form>
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label">First Name</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Last Name</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Email</label>
                        <input class="form-control" type="email">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Contact Number</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <label class="form-label">Username</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Password</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Confirm Password</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Type of User</label>
                        <select class="form-select">
                            <option>---Select the type of user---</option>
                            <option>General User</option>
                            <option>Dataentry Operator</option>
                            <option>Approver</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mt-4 text-center" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
