<div class="update-page px-5">
    <form #complex="ngForm" (ngSubmit)="onUpdate(complex)">
        <div class="row mt-5">
            <div class="col-md-12">
                <label class="form-label">Complex Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="complex_name" name="complex_name" [(ngModel)]="c_name" #complex_name="ngModel" required>
                <small class="text-danger" *ngIf="complex_name.touched && complex_name.invalid">Please enter complex name</small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <label class="form-label">Complex Description</label>
                <textarea class="form-control" cols="30" rows="5" name="complex_description" [(ngModel)]="c_descp" #complex_description="ngModel"></textarea>
            </div>
        </div>
        <div class="alert alert-success mt-4 mb-4" *ngIf="showUpdateSuccess">
            Complex Updated Successfully !!
        </div>
        <div class="text-end mt-4 mb-5">
            <button class="btn btn-primary mx-3" type="button" (click)="onHideForm()">Go Back</button>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>