<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="d-block w-100">
        <app-header></app-header>
        <div class="complex px-5">
            <div class="title mt-4 text-center">
                <h2>Duty Allocation</h2>
            </div>
            <div class="input-group mt-5 mb-4">
                <ng-autocomplete placeholder="Enter Name ...." [data]="searchData" [searchKeyword]="keyword" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" (inputChanged)='onChangeSearch($event)'>                   
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                    <a (click)="onSearchUser(item.id)" innerHTML="{{item.name}}"></a>
                </ng-template>
                    
                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
            <form (ngSubmit)="onAllocateDuty()">
                <div class="row mt-4">
                    <div class="col-md-6">
                        <label class="form-label">Employee Name</label>
                        <input type="text" class="form-control" name="emp_name" [(ngModel)]="emp_name" disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Employee ID</label>
                        <input type="text" class="form-control" name="emp_id" [(ngModel)]="emp_id" disabled>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <label class="form-label">Employee Type</label>
                        <input type="text" class="form-control" name="emp_type" [(ngModel)]="emp_type" disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Complex</label>
                        <select class="form-select" #comp (change)="onGetDepartments($event)"> 
                            <option value="0">----Select Complex----</option>
                            <option *ngFor="let c of complex" value="{{c.id}}">{{c.complex_name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 mt-4" *ngIf="showDept">
                        <label class="form-label">Department</label>
                        <select class="form-select" #dept (change)="onGetDepartment($event)"> 
                            <option value="0">----Select Department----</option>
                            <option *ngFor="let d of department" value="{{d.id}}">{{d.department_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="alert alert-success mt-4 mb-4" *ngIf="showSuccess">
                    Duty Allocated Successfully !!
                </div>
                <div class="text-end mt-4 mb-5">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>