<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="block w-100">
        <app-header></app-header>
        <div class="title text-center">
            <h1>Profile</h1>
        </div>
        <div class="profile px-5">
            <ul class="nav nav-tabs mt-5" style="cursor: pointer">
                <li class="nav-item"><a (click)="onShowDetails()" class="nav-link det active" [ngClass]="{'active': toggle, '':!toggle}">Details</a></li>
                <li class="nav-item"><a (click)="onShowChangePassword()" class="nav-link pass" [ngClass]="{'': toggle, 'active':!toggle}">Change Password</a></li>
            </ul>
            <div class="details mt-5" [hidden]="showDetails">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ imgSrc }}" width="160" height="160">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="emp_name" [(ngModel)]="emp_name" disabled>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Email ID</label>
                        <input type="text" class="form-control" name="emp_email" [(ngModel)]="emp_email" disabled>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Gender</label>
                        <input type="text" class="form-control" name="emp_gender" [(ngModel)]="emp_gender" disabled>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="emp_uname" [(ngModel)]="emp_uname"disabled>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Employee Type</label>
                        <input type="text" class="form-control" name="emp_type" [(ngModel)]="emp_type" disabled>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Blood Group</label>
                        <input type="text" class="form-control" name="emp_bgroup" [(ngModel)]="emp_bgroup" disabled>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <label class="form-label">Address</label>
                        <textarea class="form-control" rows="6" name="emp_add" [(ngModel)]="emp_add" disabled></textarea>
                    </div>
                </div>
            </div>
            <div class="password mt-5" [hidden]="showChangePassword">
                <form #pass="ngForm" (ngSubmit)="onChangePassword(pass.value)">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="emp_uname" disabled>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Enter New Password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="pass1" #password="ngModel" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                            <div *ngIf="password.touched">
                                <small class="text-danger" *ngIf="password.errors?.required">Password Required</small>
                                <small class="text-danger" *ngIf="password.errors?.pattern">Password is Required (Minimum Length: 8 characters with atleast one capital alphabet letter (A-Z), one small alphabet letter (a-z), one number (0-9) and one sepcial character (.,?/!@#$%^&*))</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" name="password2" [(ngModel)]="pass2" #password2="ngModel" required>
                            <small class="text-danger" *ngIf="password2.value !== password.value">Password is did not match</small>
                        </div>
                    </div>
                    <div class="alert alert-success mt-4 mb-4" *ngIf="showPassUpdate">
                        Password Updated Successfully !!!
                    </div>
                    <div class="mt-4 mb-5 text-end">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>