<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="d-block w-100">
        <app-header></app-header>
        <div class="text-center mb-5 mt-5">
            <h2>Case Entry</h2>
        </div>
        <div class="entry px-5">
            <form>
                <div class="grid1 px-3 py-4">
                    <div class="title1 mb-4">
                        <h5>Case Details</h5>
                        <hr>
                    </div>
                    <div class="fields1">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">Case No</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Date of Filing</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Date of Disposal</label>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <label class="form-label">Petitioner(s) Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Respondent(s) Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid2 px-3 py-4">
                    <div class="title1 mb-4">
                        <h5>Judge(s) Name</h5>
                        <hr>
                    </div>
                    <div class="fields2">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">Judge 1</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Judge 2</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Judge 3</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>