<div class="d-flex" id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="d-block w-100">
        <app-header></app-header>
        <div class="mt-2 px-1"> 
            <div class="text-center mb-2 mt-4">
                <h2>Department Master</h2>
            </div>
            <div class="grid-view" *ngIf="!showForm">
                <div class="text-end mt-3 px-5">
                    <button class="btn btn-primary" type="button" (click)="onShowEntryForm()">+ Add Department</button>
                </div>
                <div class="mt-3 text-center" *ngIf="!showData">
                    <h3>No departments added</h3>
                </div>
                <div class="px-5 mt-3" *ngIf="showData">
                    <table class="table table-bordered table-responsive" datatable [dtOptions]="dtOptions"> 
                        <thead>
                            <tr class="text-center">
                                <th class="col" width="5%">S.No.</th>
                                <th class="col">Name</th>
                                <th class="col">Description</th>
                                <th class="col" width="10%">Operations</th>
                                <th class="col" width="10%">isDeleted</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of departments;let i=index">
                                <td class="text-center">{{i+1}}</td>
                                <td>{{d.department_name}}</td>
                                <td>{{d.department_description}}</td>
                                <td class="text-center"><a (click)="onShowForm(d.id)" class="button">Edit</a></td>
                                <td class="text-center"><input type="checkbox" checked *ngIf="d.department_isDeleted" (click)="isDelete(d.id, d.department_isDeleted)">
                                                        <input type="checkbox" *ngIf="!d.department_isDeleted" (click)="isDelete(d.id, d.department_isDeleted)"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-view px-5" *ngIf="showForm">
                <form #dept="ngForm" (ngSubmit)="onSubmitDept(dept, complex.value)">
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <label class="form-label">Department Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="dept_name" name="dept_name" [(ngModel)]="d_name" #dept_name="ngModel" required>
                            <small class="text-danger" *ngIf="dept_name.touched && dept_name.invalid">Please enter department name.</small>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Department Complex<span class="text-danger">*</span></label>
                            <select class="form-select" #complex="ngModel" id="complex_field" [(ngModel)]="complex_name" name="complex" required>
                                <option value="0">----Select Complex----</option>
                                <option *ngFor="let c of complexes" value="{{c.id}}">{{c.complex_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <label class="form-label">Department Description</label>
                            <textarea class="form-control" cols="30" rows="5" name="dept_descp" [(ngModel)]="d_descp" #dept_descp="ngModel"></textarea>
                        </div>
                    </div>
                    <div class="alert alert-success mt-4 mb-4" *ngIf="showAddSuccess">
                        Department Added Successfully !!
                    </div>
                    <div class="alert alert-success mt-4 mb-4" *ngIf="showUpdateSuccess">
                        Department Updated Successfully !!
                    </div>
                    <div class="text-end mt-4 mb-5">
                        <button class="btn btn-primary mx-3" type="button" (click)="onHideForm()">Go back</button>
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>